@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;500;700&family=Spline+Sans+Mono:wght@500&family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #353535;
  font-family: "Spline Sans Mono", monospace;
  padding-top: 15px;
}
header .logo {
  color: #F7F7F7;
  text-decoration: none;
  font-size: 20px;
}
header .elipses_nav {
  width: 50px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header .nav_ul li {
  margin: 0 15px;
}
header .nav_ul li .a_nav-hover {
  text-decoration: none;
  color: #F7F7F7;
}
header .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
header .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3C6E71;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main_section {
  background-color: #353535;
  position: relative;
  overflow: hidden;
  padding: 130px 0 80px;
  justify-content: space-between;
}
.main_section .decoration-left {
  width: 578px;
  height: 370px;
  display: block;
  overflow: hidden;
  transform: rotate(20deg);
  position: absolute;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 264px;
  left: -197px;
}
.main_section .decoration-right {
  width: 578px;
  height: 370px;
  display: block;
  overflow: hidden;
  transform: rotate(55deg);
  position: absolute;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 400px;
  right: -197px;
}
.main_section .main_section-about {
  font-family: "Martian Mono", monospace;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 60px 60px 60px 60px;
  background-color: #d9d9d9;
  overflow: hidden;
  z-index: 1;
  position: relative;
  grid-column: auto/span 3;
  grid-row: auto/span 2;
  justify-self: start;
  align-self: start;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 23;
  border-radius: 60px 0px 60px 60px;
}
.main_section .main_section-about h1 {
  font-size: 20px;
  margin-bottom: 50px;
}
.main_section .main_section-img {
  width: 650px;
  flex-shrink: 0;
  height: 375px;
  display: block;
  filter: grayscale(1);
  mix-blend-mode: luminosity;
  overflow: hidden;
  z-index: 1;
  position: relative;
  grid-column: auto/span 2;
  grid-row: auto/span 2;
  justify-self: start;
  align-self: start;
  background-image: url("../IMG_6307 copy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 200px 200px 0px;
}
.main_section .main_section-img2 {
  flex-shrink: 0;
  height: 355px;
  display: block;
  filter: grayscale(1);
  mix-blend-mode: luminosity;
  overflow: hidden;
  z-index: 1;
  position: relative;
  grid-column: auto/span 2;
  justify-self: start;
  align-self: start;
  background-image: url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 200px 200px 0px 200px;
}
.main_section .main_section-img3 {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 355px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  background-color: #d9d9d9;
  overflow: hidden;
  z-index: 1;
  position: relative;
  grid-column: auto/span 3;
  justify-self: start;
  align-self: start;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 200px;
}

.about_section {
  padding: 100px 0;
  background-color: #d9d9d9;
}
.about_section .about_text {
  max-width: 700px;
}
.about_section .about_text h2 {
  font-weight: 400;
  font-style: normal;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  margin-bottom: 60px;
}
.about_section .about_text p {
  font-weight: 400;
  font-style: normal;
  font-family: "Martian Mono", monospace;
  color: #353535;
  font-size: 20px;
  margin-bottom: 40px;
}
.about_section .about__content-title {
  font-weight: 400;
  font-style: normal;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  margin-bottom: 60px;
}
.about_section .skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}
.about_section .skills .skills__skill {
  font-weight: 300;
  font-style: normal;
  font-family: "Martian Mono", monospace;
  color: #353535;
  font-size: 15px;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */